@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-Solana-50: oklch(0.958 0.023 299.44);
  --color-Solana-100: oklch(0.918 0.045 298.01);
  --color-Solana-200: oklch(0.836 0.095 298.73);
  --color-Solana-300: oklch(0.755 0.147 299.14);
  --color-Solana-400: oklch(0.677 0.2 298.9);
  --color-Solana-500: oklch(0.598 0.256 298.87);
  --color-Solana-600: oklch(0.522 0.28 298.9);
  --color-Solana-700: oklch(0.428 0.23 298.55);
  --color-Solana-800: oklch(0.335 0.18 299.01);
  --color-Solana-900: oklch(0.243 0.13 299.13);
  --color-Solana-950: oklch(0.191 0.103 298.77);
  --color-VerdeSolana-50: oklch(0.958 0.065 157.16);
  --color-VerdeSolana-100: oklch(0.915 0.14 156.77);
  --color-VerdeSolana-200: oklch(0.844 0.199 156.83);
  --color-VerdeSolana-300: oklch(0.756 0.178 156.85);
  --color-VerdeSolana-400: oklch(0.661 0.156 156.77);
  --color-VerdeSolana-500: oklch(0.579 0.136 156.99);
  --color-VerdeSolana-600: oklch(0.486 0.115 156.94);
  --color-VerdeSolana-700: oklch(0.403 0.094 157.06);
  --color-VerdeSolana-800: oklch(0.31 0.073 157.16);
  --color-VerdeSolana-900: oklch(0.225 0.054 156.68);
  --color-VerdeSolana-950: oklch(0.172 0.042 156.2);
  --color-PinkSolana-50: oklch(0.96 0.019 344.06);
  --color-PinkSolana-100: oklch(0.919 0.041 342.22);
  --color-PinkSolana-200: oklch(0.839 0.091 341.81);
  --color-PinkSolana-300: oklch(0.76 0.148 342.21);
  --color-PinkSolana-400: oklch(0.68 0.215 342.22);
  --color-PinkSolana-500: oklch(0.596 0.207 342.31);
  --color-PinkSolana-600: oklch(0.506 0.176 342.24);
  --color-PinkSolana-700: oklch(0.415 0.145 342.07);
  --color-PinkSolana-800: oklch(0.325 0.114 342.1);
  --color-PinkSolana-900: oklch(0.235 0.081 342.96);
  --color-PinkSolana-950: oklch(0.184 0.064 342.36);
  --color-SkySolana-50: oklch(0.966 0.017 289.69);
  --color-SkySolana-100: oklch(0.933 0.034 287.6);
  --color-SkySolana-200: oklch(0.857 0.075 288.12);
  --color-SkySolana-300: oklch(0.791 0.111 287.05);
  --color-SkySolana-400: oklch(0.702 0.163 285.39);
  --color-SkySolana-500: oklch(0.621 0.212 283.25);
  --color-SkySolana-600: oklch(0.536 0.263 279.4);
  --color-SkySolana-700: oklch(0.45 0.282 275.18);
  --color-SkySolana-800: oklch(0.346 0.217 275.41);
  --color-SkySolana-900: oklch(0.253 0.159 274.83);
  --color-SkySolana-950: oklch(0.192 0.12 275.63);
  --color-AmberSolana-50: oklch(0.966 0.013 262.4);
  --color-AmberSolana-100: oklch(0.931 0.028 261.49);
  --color-AmberSolana-200: oklch(0.862 0.059 259.54);
  --color-AmberSolana-300: oklch(0.792 0.09 255.92);
  --color-AmberSolana-400: oklch(0.718 0.129 251.86);
  --color-AmberSolana-500: oklch(0.619 0.135 249.43);
  --color-AmberSolana-600: oklch(0.526 0.114 249.33);
  --color-AmberSolana-700: oklch(0.432 0.093 249.28);
  --color-AmberSolana-800: oklch(0.326 0.071 249.83);
  --color-AmberSolana-900: oklch(0.233 0.05 248.95);
  --color-AmberSolana-950: oklch(0.187 0.042 250.39);
  --color-BlueSolana-50: oklch(0.965 0.015 273.9);
  --color-BlueSolana-100: oklch(0.924 0.033 272.8);
  --color-BlueSolana-200: oklch(0.847 0.071 271.55);
  --color-BlueSolana-300: oklch(0.771 0.108 268.07);
  --color-BlueSolana-400: oklch(0.701 0.144 265.29);
  --color-BlueSolana-500: oklch(0.623 0.188 259.81);
  --color-BlueSolana-600: oklch(0.532 0.171 258.32);
  --color-BlueSolana-700: oklch(0.426 0.139 258.76);
  --color-BlueSolana-800: oklch(0.33 0.107 258.44);
  --color-BlueSolana-900: oklch(0.234 0.077 258.58);
  --color-BlueSolana-950: oklch(0.189 0.063 258.86);
  --color-Aqua-50: oklch(0.972 0.022 214.33);
  --color-Aqua-100: oklch(0.943 0.046 211.75);
  --color-Aqua-200: oklch(0.885 0.103 209.49);
  --color-Aqua-300: oklch(0.789 0.131 208.09);
  --color-Aqua-400: oklch(0.695 0.115 208.17);
  --color-Aqua-500: oklch(0.602 0.1 208.11);
  --color-Aqua-600: oklch(0.509 0.084 207.92);
  --color-Aqua-700: oklch(0.415 0.069 207.51);
  --color-Aqua-800: oklch(0.323 0.053 208.35);
  --color-Aqua-900: oklch(0.227 0.038 209.6);
  --color-Aqua-950: oklch(0.176 0.028 207.59);
  --color-Lime-50: oklch(0.957 0.08 141.15);
  --color-Lime-100: oklch(0.923 0.154 140.25);
  --color-Lime-200: oklch(0.831 0.26 138.74);
  --color-Lime-300: oklch(0.739 0.232 138.71);
  --color-Lime-400: oklch(0.653 0.205 138.7);
  --color-Lime-500: oklch(0.57 0.178 138.67);
  --color-Lime-600: oklch(0.477 0.149 138.65);
  --color-Lime-700: oklch(0.393 0.123 138.54);
  --color-Lime-800: oklch(0.31 0.097 138.63);
  --color-Lime-900: oklch(0.218 0.069 138.89);
  --color-Lime-950: oklch(0.172 0.054 138.84);
  --color-YellowSolana-50: oklch(0.958 0.14 112.23);
  --color-YellowSolana-100: oklch(0.929 0.136 112.36);
  --color-YellowSolana-200: oklch(0.84 0.123 112.33);
  --color-YellowSolana-300: oklch(0.753 0.11 112.27);
  --color-YellowSolana-400: oklch(0.669 0.098 112.16);
  --color-YellowSolana-500: oklch(0.574 0.085 112.84);
  --color-YellowSolana-600: oklch(0.488 0.072 112.78);
  --color-YellowSolana-700: oklch(0.404 0.06 112.57);
  --color-YellowSolana-800: oklch(0.315 0.046 112.24);
  --color-YellowSolana-900: oklch(0.223 0.033 114.05);
  --color-YellowSolana-950: oklch(0.177 0.026 112.35);
  --color-OrangeSolana-50: oklch(0.966 0.017 26.74);
  --color-OrangeSolana-100: oklch(0.927 0.037 28.07);
  --color-OrangeSolana-200: oklch(0.862 0.075 29.93);
  --color-OrangeSolana-300: oklch(0.789 0.123 32.77);
  --color-OrangeSolana-400: oklch(0.72 0.178 37.78);
  --color-OrangeSolana-500: oklch(0.622 0.189 41.73);
  --color-OrangeSolana-600: oklch(0.534 0.162 41.64);
  --color-OrangeSolana-700: oklch(0.436 0.132 41.62);
  --color-OrangeSolana-800: oklch(0.339 0.103 41.44);
  --color-OrangeSolana-900: oklch(0.241 0.072 42.32);
  --color-OrangeSolana-950: oklch(0.182 0.055 41.46);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.colorsSolana {
  --color-Solana-50: oklch(0.958 0.023 299.44);
  --color-Solana-100: oklch(0.918 0.045 298.01);
  --color-Solana-200: oklch(0.836 0.095 298.73);
  --color-Solana-300: oklch(0.755 0.147 299.14);
  --color-Solana-400: oklch(0.677 0.2 298.9);
  --color-Solana-500: oklch(0.598 0.256 298.87);
  --color-Solana-600: oklch(0.522 0.28 298.9);
  --color-Solana-700: oklch(0.428 0.23 298.55);
  --color-Solana-800: oklch(0.335 0.18 299.01);
  --color-Solana-900: oklch(0.243 0.13 299.13);
  --color-Solana-950: oklch(0.191 0.103 298.77);
  --color-VerdeSolana-50: oklch(0.958 0.065 157.16);
  --color-VerdeSolana-100: oklch(0.915 0.14 156.77);
  --color-VerdeSolana-200: oklch(0.844 0.199 156.83);
  --color-VerdeSolana-300: oklch(0.756 0.178 156.85);
  --color-VerdeSolana-400: oklch(0.661 0.156 156.77);
  --color-VerdeSolana-500: oklch(0.579 0.136 156.99);
  --color-VerdeSolana-600: oklch(0.486 0.115 156.94);
  --color-VerdeSolana-700: oklch(0.403 0.094 157.06);
  --color-VerdeSolana-800: oklch(0.31 0.073 157.16);
  --color-VerdeSolana-900: oklch(0.225 0.054 156.68);
  --color-VerdeSolana-950: oklch(0.172 0.042 156.2);
  --color-PinkSolana-50: oklch(0.96 0.019 344.06);
  --color-PinkSolana-100: oklch(0.919 0.041 342.22);
  --color-PinkSolana-200: oklch(0.839 0.091 341.81);
  --color-PinkSolana-300: oklch(0.76 0.148 342.21);
  --color-PinkSolana-400: oklch(0.68 0.215 342.22);
  --color-PinkSolana-500: oklch(0.596 0.207 342.31);
  --color-PinkSolana-600: oklch(0.506 0.176 342.24);
  --color-PinkSolana-700: oklch(0.415 0.145 342.07);
  --color-PinkSolana-800: oklch(0.325 0.114 342.1);
  --color-PinkSolana-900: oklch(0.235 0.081 342.96);
  --color-PinkSolana-950: oklch(0.184 0.064 342.36);
  --color-SkySolana-50: oklch(0.966 0.017 289.69);
  --color-SkySolana-100: oklch(0.933 0.034 287.6);
  --color-SkySolana-200: oklch(0.857 0.075 288.12);
  --color-SkySolana-300: oklch(0.791 0.111 287.05);
  --color-SkySolana-400: oklch(0.702 0.163 285.39);
  --color-SkySolana-500: oklch(0.621 0.212 283.25);
  --color-SkySolana-600: oklch(0.536 0.263 279.4);
  --color-SkySolana-700: oklch(0.45 0.282 275.18);
  --color-SkySolana-800: oklch(0.346 0.217 275.41);
  --color-SkySolana-900: oklch(0.253 0.159 274.83);
  --color-SkySolana-950: oklch(0.192 0.12 275.63);
  --color-AmberSolana-50: oklch(0.966 0.013 262.4);
  --color-AmberSolana-100: oklch(0.931 0.028 261.49);
  --color-AmberSolana-200: oklch(0.862 0.059 259.54);
  --color-AmberSolana-300: oklch(0.792 0.09 255.92);
  --color-AmberSolana-400: oklch(0.718 0.129 251.86);
  --color-AmberSolana-500: oklch(0.619 0.135 249.43);
  --color-AmberSolana-600: oklch(0.526 0.114 249.33);
  --color-AmberSolana-700: oklch(0.432 0.093 249.28);
  --color-AmberSolana-800: oklch(0.326 0.071 249.83);
  --color-AmberSolana-900: oklch(0.233 0.05 248.95);
  --color-AmberSolana-950: oklch(0.187 0.042 250.39);
  --color-BlueSolana-50: oklch(0.965 0.015 273.9);
  --color-BlueSolana-100: oklch(0.924 0.033 272.8);
  --color-BlueSolana-200: oklch(0.847 0.071 271.55);
  --color-BlueSolana-300: oklch(0.771 0.108 268.07);
  --color-BlueSolana-400: oklch(0.701 0.144 265.29);
  --color-BlueSolana-500: oklch(0.623 0.188 259.81);
  --color-BlueSolana-600: oklch(0.532 0.171 258.32);
  --color-BlueSolana-700: oklch(0.426 0.139 258.76);
  --color-BlueSolana-800: oklch(0.33 0.107 258.44);
  --color-BlueSolana-900: oklch(0.234 0.077 258.58);
  --color-BlueSolana-950: oklch(0.189 0.063 258.86);
  --color-Aqua-50: oklch(0.972 0.022 214.33);
  --color-Aqua-100: oklch(0.943 0.046 211.75);
  --color-Aqua-200: oklch(0.885 0.103 209.49);
  --color-Aqua-300: oklch(0.789 0.131 208.09);
  --color-Aqua-400: oklch(0.695 0.115 208.17);
  --color-Aqua-500: oklch(0.602 0.1 208.11);
  --color-Aqua-600: oklch(0.509 0.084 207.92);
  --color-Aqua-700: oklch(0.415 0.069 207.51);
  --color-Aqua-800: oklch(0.323 0.053 208.35);
  --color-Aqua-900: oklch(0.227 0.038 209.6);
  --color-Aqua-950: oklch(0.176 0.028 207.59);
  --color-Lime-50: oklch(0.957 0.08 141.15);
  --color-Lime-100: oklch(0.923 0.154 140.25);
  --color-Lime-200: oklch(0.831 0.26 138.74);
  --color-Lime-300: oklch(0.739 0.232 138.71);
  --color-Lime-400: oklch(0.653 0.205 138.7);
  --color-Lime-500: oklch(0.57 0.178 138.67);
  --color-Lime-600: oklch(0.477 0.149 138.65);
  --color-Lime-700: oklch(0.393 0.123 138.54);
  --color-Lime-800: oklch(0.31 0.097 138.63);
  --color-Lime-900: oklch(0.218 0.069 138.89);
  --color-Lime-950: oklch(0.172 0.054 138.84);
  --color-YellowSolana-50: oklch(0.958 0.14 112.23);
  --color-YellowSolana-100: oklch(0.929 0.136 112.36);
  --color-YellowSolana-200: oklch(0.84 0.123 112.33);
  --color-YellowSolana-300: oklch(0.753 0.11 112.27);
  --color-YellowSolana-400: oklch(0.669 0.098 112.16);
  --color-YellowSolana-500: oklch(0.574 0.085 112.84);
  --color-YellowSolana-600: oklch(0.488 0.072 112.78);
  --color-YellowSolana-700: oklch(0.404 0.06 112.57);
  --color-YellowSolana-800: oklch(0.315 0.046 112.24);
  --color-YellowSolana-900: oklch(0.223 0.033 114.05);
  --color-YellowSolana-950: oklch(0.177 0.026 112.35);
  --color-OrangeSolana-50: oklch(0.966 0.017 26.74);
  --color-OrangeSolana-100: oklch(0.927 0.037 28.07);
  --color-OrangeSolana-200: oklch(0.862 0.075 29.93);
  --color-OrangeSolana-300: oklch(0.789 0.123 32.77);
  --color-OrangeSolana-400: oklch(0.72 0.178 37.78);
  --color-OrangeSolana-500: oklch(0.622 0.189 41.73);
  --color-OrangeSolana-600: oklch(0.534 0.162 41.64);
  --color-OrangeSolana-700: oklch(0.436 0.132 41.62);
  --color-OrangeSolana-800: oklch(0.339 0.103 41.44);
  --color-OrangeSolana-900: oklch(0.241 0.072 42.32);
  --color-OrangeSolana-950: oklch(0.182 0.055 41.46);
}
@font-face {
  font-family: 'Hiruko'; /* Nome que você dará para sua fonte */
  src: url('/HirukoBlackAlternate.ttf') format('truetype'); /* Caminho para o arquivo da fonte */
  font-weight: normal;
  font-style: normal;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

.wallet-adapter-button-trigger {
  height: auto !important;
  @apply !border !bg-background !shadow-xs hover:!bg-accent !text-accent-foreground hover:!text-accent-foreground dark:!bg-input/30 !border-input/10 dark:!border-input dark:hover:!bg-input/50;
  @apply !px-2 !py-[6px] !rounded-md !text-sm !font-semibold !shadow-sm !transition-all;
}

.sl0 {
  background-image: url(https://assets.codepen.io/3685267/betting-app-wccettuo.png);
}
.sl1 {
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%),
    url(https://assets.codepen.io/3685267/betting-app-vgnrodzy.png);
}
.sl2 {
  background-image: url(https://assets.codepen.io/3685267/betting-app-zzbnyktk.png);
}
.sl3 {
  background-image: url(https://assets.codepen.io/3685267/betting-app-ahiryyst.png);
}

.sidebar-circ {
  background: #3a3a3a;
  border: 1px solid #484848;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-item-main {
  background: #151515;
  cursor: pointer;
}
.menu-item-main:hover {
  background: linear-gradient(176.15deg, #2f2f2f 2.85%, #292929 104.97%);
}

.menu-item-main:hover .menu-item-main-icon {
  background: linear-gradient(180deg, #e4a704 0%, #fe7a00 100%);
  color: #222;
  border: none;
}

.menu-item-main .menu-item-main-icon {
  background: #393939;
  color: #b3b3b3;
  border: 1px solid #444;
}

.plus-circ {
  background: linear-gradient(180deg, #e4a704 0%, #fe7a00 100%);
  color: #373739;
}

.profile-sec {
  background: linear-gradient(180deg, #353535 0%, #222222 100%);
}

.profile-img-container {
  background: linear-gradient(180deg, #e4a704 0%, #fe7a00 100%);
}

.gen-chat {
  background: linear-gradient(to bottom, #e4a704, #fe7a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-header-cover {
  background: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(2px);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.menu-item-with-icon {
  opacity: 0;
  transform: scale(1);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.menu-item-main:hover .menu-item-with-icon {
  opacity: 1;
  transform: scale(1.3);
}

.menu-item-with-image {
  opacity: 0;
  right: 68px;
  top: 6px;
  transform: scale(1);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.menu-item-main:hover .menu-item-with-image {
  opacity: 1;
  transform: scale(3.1);
}

.animated-swiper-item {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.animated-swiper-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.yellow-gradient-1 {
  background: linear-gradient(180deg, #ffbe28 0%, #ff7c00 100%);
}
.gray-gradient {
  background: linear-gradient(180deg, #525252 0%, #525252 100%);
}

.custom-shadow-1 {
  box-shadow: 10px 11px 9.9px rgba(0, 0, 0, 0.25);
}
.custom-shadow-2 {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}
.custom-shadow-3 {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

.custrombg {
  background-color: #222222;
}

.custom-shadow-blue {
  box-shadow: 0px 0px 27px -2px rgb(85 164 255 / 58%);
}
.custom-shadow-yellow {
  box-shadow: 0 0 27px -2px rgb(254 184 0 / 67%);
}
.custom-shadow-green {
  box-shadow:
    0 0 27px -2px rgb(37 222 119 / 67%),
    0 0 27px -2px rgba(2, 13, 7, 0.67);
}

.titem {
  height: 112px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0px, 600px);
  opacity: 0;
}

.cpm {
  background: var(--cpm);
}

.btnsdc {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1) inset;
}
.btnsdc:hover {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1) inset;
  scale: 1.05;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}
.bggrad {
  background-image:
    linear-gradient(cyan, transparent), linear-gradient(-45deg, magenta, transparent),
    linear-gradient(45deg, yellow, transparent);
}

.bgbtn {
  background: linear-gradient(180deg, #22c55e, #16a34a);
  box-shadow: 0 8px 20px rgba(34, 197, 94, 0.35);
}

.bgbtn:hover {
  background: linear-gradient(180deg, #51d481, #16a34a);
  box-shadow: 0 8px 20px rgba(132, 213, 162, 0.35);
  scale: 1.05;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Base mobile-first: telas menores */
.btngame {
  width: 5rem; /* 192px */
  height: auto;
  border-radius: 2rem;
}

/* >= 640px (sm - tablet pequeno) */
@media (min-width: 40rem) {
  .btngame {
    width: 16rem; /* 256px */
    height: auto;
  }
}

/* >= 768px (md - tablet maior) */
@media (min-width: 48rem) {
  .btngame {
    width: 18rem; /* 288px */
    height: auto;
  }
}

/* >= 1024px (lg - desktop) */
@media (min-width: 64rem) {
  .btngame {
    width: 18rem; /* 350px */
    height: auto;
  }
  .ctmspace-x-8 {
    --tw-space-x-reverse: 0;
    margin-inline-start: calc(calc(var(--spacing) * 8) /* 2rem = 32px */ * var(--tw-space-x-reverse));
    margin-inline-end: calc(calc(var(--spacing) * 8) /* 2rem = 32px */ * calc(1 - var(--tw-space-x-reverse)));
  }
}

.ggradpurple {
  background-clip: text;
  color: #15151500;
  background-image: linear-gradient(100.51deg, #f087ff 27.61%, #6e1fce 62.14%, rgba(110, 31, 206, 0.1) 113.78%);
}

.ggradgreen {
  background-image: linear-gradient(97.65deg, #19fb9b 11.36%, #23f9eb 54.3%, #03ddce 100.78%);
  background-clip: text;
  color: transparent;
}

.ctmspace-x-8 {
  :where(& > :not(:last-child)) {
    --tw-space-x-reverse: 0;
    margin-inline-start: calc(calc(var(--spacing) * 8) /* 2rem = 32px */ * var(--tw-space-x-reverse));
    margin-inline-end: calc(calc(var(--spacing) * 8) /* 2rem = 32px */ * calc(1 - var(--tw-space-x-reverse)));
  }
}

.bgpattern {
  height: auto;
  background-image: url(/BGpatternGD.svg);
  background-size: 15rem;
}

.bgpatternB {
  height: auto;
    background: #342d629c;
    background-image: url(/BGpatternGD.svg);
    background-blend-mode: normal;
    background-size: 15rem;
    background-position-y: -22px;
    border-radius: 20px;
    border-bottom: 1px solid #c36bee6e;
}

.bgdust {
  height: auto;
  background-image: url(/BgDust.svg), url(/bgabs.jpeg) ;
  background-size:cover;
}

.bgsqr {
  height: auto;
  background-image: url(/sqr-shine.svg) ;
  background-size:cover;
}

.bghandsa {
  background-size: 90%;
  background-image: auto;
  background-image: url(/bg3.png);
  background-repeat: no-repeat;
  background-position: 48% -545px;
  scale: -1;
  background-blend-mode: luminosity;
}

.bghandsb {
  background-size: 90%;
  background-image: auto;
  background-image: url(/bg3.png);
  background-position: 50% -160px;
  background-repeat: no-repeat;
  scale: -1;
  background-blend-mode: luminosity;
}
.hiruko {
  text-anchor: middle;
  text-align: center;
  font-family: 'Hiruko';
  vertical-align: text-top;
  height: 45px;
  letter-spacing: 12px;
}

.gradhead {
    background: linear-gradient(180deg, #353535 0%, #222222 100%);
    }

.newSlide{
  transform: translate(100%, 0);
  opacity: 0;
}

.fObject{
  backdrop-filter:blur(5.5px);
  clip-path:url(#bgblur_0_6_44_clip_path);
  height:100%;
  width:100%
}


.sl0{
  background-image: url(https://assets.codepen.io/3685267/betting-app-wccettuo.png);
  
}
.sl1{
  background-image: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%), 
  url(https://assets.codepen.io/3685267/betting-app-vgnrodzy.png);
}
.sl2{
  background-image: url(https://assets.codepen.io/3685267/betting-app-zzbnyktk.png);
}
.sl3{
  background-image: url(https://assets.codepen.io/3685267/betting-app-ahiryyst.png);
}
